# Large binary files (downloaded by scripts)
opencms-zip-only/opencms-9.5.0.zip
opencms-exploded/opencms.war
code-with-quarkus/*

# Generated SBOM files
generate-sboms/*.json
generate-sboms/*.log
generate-sboms/*.atom
generate-sboms/*.slices.json

# Build/download artifacts
*.msi
deps.slices.json
